In [ ]:
try:
    spark.stop()
    del spark
except NameError:
    %run configuration.py
    from functions import DataFrame, F
    from pyspark.sql.window import Window
    import pyspark.sql.types as T